.lang-flag {
    max-width: 2vw;
    height: auto;
    opacity: inherit;
}

.lang-button {
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin: 0.2rem;
}

.enabled-lang-button {
    cursor: pointer;
    opacity: 0.7;
}