<!-- Socials and languages -->
<div id="top-bar" class="wrapper">
  <div id="socials">
    <a href="tel:+34644472327" class="social-link">
      <fa-icon class="social-icon" [icon]="faPhone"
        size="xl"></fa-icon>
    </a>
    <a href="mailto:julian@marrad.es" class="social-link">
      <fa-icon class="social-icon" [icon]="faEnvelope"
        size="xl"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/julian-marrades/" target="_blank"
      class="social-link">
      <fa-icon class="social-icon" [icon]="faLinkedin"
        size="xl"></fa-icon>
    </a>
    <a href="https://github.com/jCodingStuff" target="_blank"
      class="social-link">
      <fa-icon class="social-icon" [icon]="faGithub"
      size="xl"></fa-icon>
    </a>
  </div>
  <div id="languages">
    <button type="button" *ngFor="let lang of languages"
      class="lang-button {{lang !== selectedLang ? 'enabled-lang-button' : '' }}"
      [disabled]="lang === selectedLang"
      (click)="setLanguage(lang)">
      
      <img src="assets/images/flag-{{lang}}.svg"
        alt="Language: {{lang | uppercase}}"
        class="lang-flag">
  
    </button>
  </div>
</div>

<!-- Child component -->
<app-cover [language]="selectedLang"></app-cover>