<!-- Languages -->
<div class="outlined-green wrapper">
  <div id="languages" class="outlined-red">
    <button type="button" *ngFor="let lang of languages"
      class="lang-button {{lang !== selectedLang ? 'enabled-lang-button' : '' }}"
      [disabled]="lang === selectedLang"
      (click)="setLanguage(lang)">
      
      <img src="assets/images/flag-{{lang}}.svg"
        alt="Language: {{lang | uppercase}}"
        class="lang-flag">
  
    </button>
  </div>
</div>

<!-- Child component -->
<app-cover [language]="selectedLang"></app-cover>