#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.lang-flag {
    min-width: 30px;
    max-width: 2vw;
    height: auto;
    opacity: inherit;
}

.lang-button {
    padding: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    margin: 0.2rem;
    transition-duration: 200ms;
}

.lang-button:hover, .lang-button:focus {
    opacity: 1;
}

.enabled-lang-button {
    cursor: pointer;
    opacity: 0.7;
}

#languages {
    display: flex;
    flex-direction: row;
}

#socials {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.social-icon {
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 250ms;
}

.social-icon:hover, .social-icon:focus {
    opacity: 1;
}