body {
    height: 100%;
    overflow: hidden;
}

#my-picture {
    width: 270px;
    height: auto;
    border-radius: 50%;
    border: 6px solid black;
    margin-block: 5px;
}

#my-name {
    font-size: 50px;
}

#catchphrase {
    color:  #222222;
    font-size: 28px;
    max-width: 80vw;
    margin: auto;
    margin-bottom: 20px;
}

#btn-learn {
    font-size: 20px;
    padding-block: 5px;
    padding-bottom: 2px;
    padding-inline: 40px;
    max-width: 250px;
    max-height: 90px;
    background:  #d6d6d6;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid   #1b1b1b;
    color:   #1b1b1b;
    margin: auto;
    transition-duration: 250ms;
}

#btn-learn:hover, #btn-learn:focus {
    background: #1b1b1b;
    color:  #d6d6d6;;
}

#iww-text {
    font-size: 23px;
    margin-bottom: 10px;
}

#collaborators {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 5vw;
}

.collaborator {
    opacity: 0.7;
    transition-duration: 250ms;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collaborator:hover, .collaborator:focus {
    opacity: 1;
}

.collaborator-logo {
    max-height: 110px;
    height: 13vh;
    width: auto;
}

.collaborator-name {
    font-size: 17px;
    margin-top: 4px;
}

#iww-section {
    position: fixed;
    left: 50%;
    bottom: 10px; /* Body margin */
    transform: translateX(-50%);
    margin: 0 auto;
}

#main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    position: fixed;
    left: 50%;
    top: 41%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    #my-name {
        font-size: 40px;
    }
    #my-picture {
        width: 200px;
        border-width: 5px;
        margin-block: 4px;
    }
    #catchphrase {
        font-size: 23px;
        margin-bottom: 14px;
    }
    #btn-learn {
        border-width: 2px;
        font-size: 16px;
        padding-inline: 20px;
    }
    #iww-text {
        font-size: 19px;
    }
    .collaborator-logo {
        max-height: 90px;
    }
    .collaborator-name {
        font-size: 15px;
        margin-bottom: 4px;
    }
}

@media only screen and (max-width: 474px) {
    .collaborator-logo {
        max-height: 86px;
    }
    .collaborator-name {
        font-size: 12px;
    }
}