<div id="main-content" class="wrapper content-middle">
    <!-- Name -->
    <div id="my-name" class="cm-serif">
        Julián Marrades
    </div>

    <!-- My picture -->
    <img src="assets/images/my-face.jpeg" alt="A picture of me"
        id="my-picture">

    <!-- Catchphrase  -->
    <div id="catchphrase" class="cm-serif">
        {{catchphrase[getLanguage()]}}
    </div>

    <!-- Learn more -->
    <button id="btn-learn" class="cm-ss-bold"
        (mouseenter)="swapLMandCS()" (mouseleave)="swapLMandCS()"
        routerLink="/coming-soon">
        
        {{learnMore[getLanguage()] | uppercase}}
    
    </button>
</div>

<!-- I work with -->
<div id="iww-section" class="wrapper content-middle">
    <div id="iww-text" class="cm-sans-serif">
        {{workWith[getLanguage()]}}
    </div>
    <div id="collaborators" class="wrapper">
        <a *ngFor="let collaborator of collaborators"
            class="plain-text" href="{{collaborator.url}}"
            target="_blank" rel="noopener noreferrer">
            <div class="collaborator">
                <img class="collaborator-logo"
                    src="{{collaborator.picturePath}}" alt="{{collaborator.name[getLanguage()]}} logo">
                <div class="cm-sans-serif collaborator-name">{{collaborator.name[getLanguage()]}}</div>
            </div>
        </a>
    </div>
</div>
