/* Root stuff */
:root {
    --body-margin: 10px;
}

/* FONTS */
@font-face {
    font-family: "CMSerif";
    src: local("CMSerif"), url(./assets/fonts/cmunrm.ttf) format("truetype");
}
@font-face {
    font-family: "CMSansSerif";
    src: local("CMSansSerif"), url(./assets/fonts/cmunss.ttf) format("truetype");
}
@font-face {
    font-family: "CMSSBold";
    src: local("CMSSBold"), url(./assets/fonts/cmunbsr.ttf) format("truetype");
}

body {
    background-color: #ebebeb;
    margin: var(--body-margin);
    height: 100%;
    overflow: hidden;
}

.cm-serif {
    font-family: 'CMSerif';
}

.cm-sans-serif {
    font-family: 'CMSansSerif';
}

.cm-ss-bold {
    font-family: 'CMSSBold';
}

.outlined-red {
    border: 1px solid red;
}

.outlined-green {
    border: 1px solid green;
}

.outlined-blue {
    border: 1px solid blue;
}

.wrapper {
    overflow: auto;
}

.content-middle {
    text-align: center;
}

.plain-text {
    text-decoration: none;
    color: inherit;
}

/* For screen-reader only! */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap; /* added line */
    border: 0;
  }