body {
    height: 100%;
    overflow: hidden;
}

#coming-soon-text {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    margin: auto;
    font-size: 100px;
}

@media only screen and (max-width: 1103px) {
    #coming-soon-text {
        font-size: 65px;
    }
}

@media only screen and (max-width: 743px) {
    #coming-soon-text {
        font-size: 45px;
    }
}

@media only screen and (max-width: 533px) {
    #coming-soon-text {
        font-size: 30px;
    }
}

@media only screen and (max-width: 345px) {
    #coming-soon-text {
        font-size: 20px;
    }
}